.outer{
    background-color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.title{
    color:white;
    text-align: center;
    margin-top: 10px;
}

.titleLower{
    color:rgb(180, 222, 97);
    text-align: center;
    margin-top: 10px;
}

.user{
    margin-top: 24px;
    margin-bottom: 12px;
    width: 300px;
}