.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.field{
    margin-top: 10px;
    margin-bottom: 10px;
}

.formMessage{
    margin-top: 10px;
    margin-bottom: 10px;
    color: magenta;
    cursor:pointer;
    font-size: small;
}

.button{
    margin-top: 10px;
    margin-bottom: 10px;
}